In [26]:
import pandas as pd
import csv

In [27]:
cricketDataframe=pd.read_csv('archive/originalDataset.csv')

In [28]:
list(cricketDataframe.columns)

['Scorecard', 'Team 1', 'Team 2', 'Winner', 'Margin', 'Ground', 'Match Date']

In [29]:
cricketDataframe.Scorecard

0          ODI # 1
1          ODI # 2
2          ODI # 3
3          ODI # 4
4          ODI # 5
           ...
3927    ODI # 3928
3928    ODI # 3929
3929    ODI # 3930
3930    ODI # 3931
3931    ODI # 3932
Name: Scorecard, Length: 3932, dtype: object

In [30]:
#Removing the 'ODI #' from the score card as part of cleaning
cricketDataframe['Scorecard']=cricketDataframe['Scorecard'].apply(lambda x: x.split('#')[1])

In [43]:
cricketDataframe

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"
...,...,...,...,...,...,...,...
3927,3928,India,New Zealand,New Zealand,6 wickets,Mumbai,"Oct 22, 2017"
3928,3929,South Africa,Bangladesh,South Africa,200 runs,East London,"Oct 22, 2017"
3929,3930,Pakistan,Sri Lanka,Pakistan,9 wickets,Sharjah,"Oct 23, 2017"
3930,3931,India,New Zealand,India,6 wickets,Pune,"Oct 25, 2017"
3931,3932,India,New Zealand,India,6 runs,Kanpur,"Oct 29, 2017"

In [39]:
win_count_per_team=cricketDataframe.Winner.value_counts()

In [49]:
win_count_per_team

Australia       555
India           476
Pakistan        469
West Indies     380
Sri Lanka       372
South Africa    361
England         343
New Zealand     324
no result       140
Zimbabwe        129
Bangladesh      105
Ireland          51
Kenya            42
Afghanistan      42
tied             34
Scotland         31
Netherlands      28
Canada           17
U.A.E.            9
Bermuda           7
Hong Kong         6
P.N.G.            5
Asia XI           4
ICC World XI      1
Africa XI         1
Name: Winner, dtype: int64

In [44]:
sorted(cricketDataframe.Margin)

TypeError: '<' not supported between instances of 'float' and 'str'